<!DOCTYPE html>
<html lang="en">
<head>
    <title>엑셀 파일 업로드</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <td><b>이름</b></td>
                <td><b>소개</b></td>
                <td><b>출마지역</b></td>
                <td><b>기호</b></td>
            </tr>
        </thead>
    </table>
</div>
<div>
    <h2>Upload</h2>
    <form id="frm_excel" name="frm_excel" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document">
        <button type="submit">Upload file</button>
    </form>
    {% if url %}
        <br>
        <br>
        <p>Uploaded file: {{ url.name }}</p>
        <p>Uploaded file: {{ url.size }}</p>
    {% endif %}
</div>

<script>
    //엑셀 업로드
    function execl_upload(){
        if(!$('#file_excel').val()){
            alert('엑셀 파일을 입력하세요.');
        }else{
            var ext = $('#file_excel').val().split('.').pop().toLowerCase();
            if($.inArray(ext,['xls','xlsx']) == -1){
                alert('엑셀 파일만 업로드 할 수 있습니다.');
            }
        }
    }
</script>
</body>
</html>